doctype html
html
  head
    meta(charset='utf-8')
    title Chapter1 オーガニックカフェのオープン告知ポスター
    link(rel='stylesheet', href="./style.scss")
    script(src='./index.js')
  body
    .main
      .grand_open Grand Open!
      .circle
        ._1 Organic cafe
        ._2 Vegetable
        ._3 2019.11 23<sat>
        ._4 AM10:00
      .footer_1
        .store_name Oramnic cafe Vegetables
        .inline_1
          .business_hours OPEN AM 10:00 - CLOSE 8:00
          .adress 〒187-0044 東京都小平市並木町4-5-30
          .tel Tel:042-123-5678
          .email Mail:vegatables@gmail.com
        .sns
          .comment follw me!
          .facebook
            i(class="fab fa-facebook-square")
          .twitter
            i(class="fab fa-twitter")
          .instgram
            i(class="fab fa-instagram")
        .map


    //- script(src='./index.js')