doctype html
html
  head
    meta(charset='utf-8')
    title peraichi sample
  body
    h1 ほんとに、フォントのデザインをcssで表現する
    h2 ch01
    a(href="./ch01/index.pug") ch01 オーガニックカフェのオープン告知ポスター
    //- script(src='./index.js')
